<main class="main">
  <div class="content">
    <div class="left-side">
      <ul>
        @for (item of companies$ | async; track $index) {
        <li>
          <h2>Nome Fantasia: {{ item.empresa?.ds_nome_fantasia }}</h2>
          <p>Solicitante: {{ item.solicitante?.ds_responsavel }}</p>
          <button (click)="onViewClick(item)">Visualizar</button>
        </li>
        }
      </ul>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <app-current-company />
    </div>
  </div>
</main>
